{% extends "base_generic.html" %}

{% block content %}

{% if request.user.id == property.user.id %}
<h1>Borrar cuenta</h1>

<p>¿Estas seguro de que quieres eliminar de nuestra web tu propiedad con referencia catastral {{ property.catastral_reference }}?</p>

<form action="" method="POST">
  <div class="form-group">
    {% csrf_token %}
  </div>
  <button type="submit" class="btn btn-default navbar-btn">Eliminar</button>
</form>
{% else %}
<div class="form-group">
  <h1>Error</h1>
  <p>No tiene autorizacion para realizar la siguiente acción</p>
</div>
{% endif %}
{% endblock %}
