{% extends "base_generic.html" %}
{% block content %}
  {% if user.is_superuser %}

  <div class="container-fluid data-box">
    <div class="row  text-center">
      <div class="col-xs-12 ">
        <h1 class="">Propidad verificada correctamente</h1>

        <p class="">Puedes seguir verificando propiedades<a href="{% url 'unverified_properties'%}"> aqui</a></p>
      </div>
    </div>
  </div>
    
    
  {% else %}

    <div  class="container-fluid data-box"> 
      <div class="row  text-center">
        <div class="col-xs-12">
          <h1>Restricción</h1>

          <p>Si estas leyendo esto es que no deberias estar aqui, por favor abandona esta sección</p>
        </div>
      </div>
    </div>
  
  {% endif %}
{% endblock %}
