{% extends "base_generic.html" %}

{% block content %}
<h1>Solicitud para añadir tu propiedad recibida</h1>

<p>Te hemos enviado un correo electrónico explicando lo que debes hacer para que tu propiedad sea publicada en nuestro sitio web.<br>La propiedad no será publicada y los usuarios no podrán ver que tu propiedad está a la venta hasta que no completes todos los pasos detallados en el correo electrónico.<br>Si tienes cualquier duda o pregunta sobre el proceso, no dudes en mandarnos un correo electrónico a <a href="mailto:soporte@elcorredor.org">soporte@elcorredor.org</a></p>

<p>Puedes ver el listado de tus propiedades en <a href="{% url 'user_profile' %}">Tu perfil de usuario</a></p>
{% endblock %}
