{% extends "base_generic.html" %}
{% block content %}

{% if user.is_superuser %}
	{% if properties %}
	<div class="row">
	  <div class="col-xs-12 col-md-8 panel">
	  	<h1>Estos son las propiedades que esperan a ser verificadas</h1>
	    <table class="table">
	      <thead>
	        <tr>
	          <th>Referencia catastral</th>
	          <th>Precio</th>
	          <th>A la venta desde</th>
	          <th>Acciones</th>
	        </tr>
	      </thead>
	      <tbody>
	      {% for property in properties %}
	        <tr>
	          <td>{{ property.catastral_reference }}</td>
	          <td>{{ property.price }}</td>
	          <td>{{ property.created_at }}</td>
	          <td>
              <form action="{% url 'verify_property' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="property_id" value="{{ property.id }}" />
                <a href="#" class="success" onclick="this.parentNode.submit()">Verificar</a>
              </form>
            </td>
	        </tr>
	      {% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
	{% else %}
	  <p class="col-xs-offset-5">No tienes ninguna propiedad que espere a estar verificada; ¡Enhorabuena!</p>
	{% endif %}
{% else %}
	<div class="panel">
	  <h1 class="col-xs-offset-4 col-sm-offset-5">Error</h1>
	  <p class="col-xs-offset-1 col-sm-offset-3">No tiene autorizacion para visualizar el contenido</p>
	</div>
{% endif %}

{% endblock %}
