body{
   
}

.leaflet-popup-content {
    font-size: 14px;
}

#map{
    height: 550px; 
    
}

.link-disabled {
    color: #2bd283;
}

ul.errorList li {
    color: #ff0000;
}

a.danger {
    color: #ff0000;
}

span.bold {
    font-weight: bold;
}

#as{
    background: rgb(0,255,231);
    background: radial-gradient(circle, rgba(0,255,231,1) 15%, rgba(0,104,255,1) 65%, rgba(9,9,121,1) 100%);  
}

.container-fluid {
  max-width: 1600px;
}

.padding-top{
    padding: 1% 0 0 0;
}

.padding-left{
    padding: 0 0 0 3%;
}

.panel{
   border: inset;
}


/*titulos*/
.header-box {
    background-color: #ffc75a;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 2px;
}
.header-text {
  color: white;
  font-weight: bold;
}
.title-box h4 {
    background-color: #ffc75a;
    color: #fff;
    padding: 5px;
    margin-bottom: 0;
  }
  
  .data-box {
    border: 1px solid #ffc75a;
    padding: 10px;
    margin-bottom: 10px;
  }

  /*tabla*/
  .table thead th {
    background-color: #ffc75a;
    color: #fff;
  }

  .profile-title {
    font-weight: bold;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .profile-info {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
  }



