body{
    background: linear-gradient(to left, #11998e, #38ef7d);
}

.leaflet-popup-content {
    font-size: 14px;
}

#map{
    height: 450px; 
    max-width: 1300px;
}

.link-disabled {
    color: #2bd283;
}

ul.errorList li {
    color: #ff0000;
}

a.danger {
    color: #ff0000;
}

span.bold {
    font-weight: bold;
}

#as{
    background: rgb(0,255,231);
    background: radial-gradient(circle, rgba(0,255,231,1) 15%, rgba(0,104,255,1) 65%, rgba(9,9,121,1) 100%);  
}

.container-fluid {
  max-width: 1600px;
}

.padding-top{
    padding: 1% 0 0 0;
}

.padding-left{
    padding: 0 0 0 3%;
}

.panel{
   border: inset;
}