{% extends "base_generic.html" %}
{% block content %}

<h1>Cambiar tu email</h1>

<p>Para poder cambiar tu email, necesitarás confirmarlo con el correo electrónico que te enviaremos.</p>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_email">Nuevo email</label>
        <input type="email" name="email" id="id_email" value="{{ email }}" required="" autocomplete="email" class="form-control"></input>
        {% if errors is not None %}
          <p></p>
          <ul class="errorlist">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
          </ul>
          <p></p>
      {% endif %}
      </div>
      <button type="submit" class="btn btn-default navbar-btn">Cambiar email</button>
    </form>
  </div>
</div>

{% endblock %}
