{% extends "base_generic.html" %}
{% block content %}
<body>

  <div class="container-fluid data-box">
    <div class="row">
      <div class="col-xs-12 ">
        <h1 class="text-center" style="font-weight: bold; margin-bottom: 20px;">Cambiar tu email</h1>

        <p class="text-center " style="font-weight: bold; margin-bottom: 20px;">Para poder cambiar tu email, necesitarás confirmarlo con el correo electrónico que te enviaremos.</p>

        <div class="col-xs-12">
          <form method="post">
            {% csrf_token %}
            <div class="row">  
              <div class="col-sm-4 col-lg-4 text-center">
              <label for="id_email">Nuevo email</label>
              <br>
              <button type="submit" style="margin-bottom: 20px; background-color: #ffc75a; color: #fff; border: 1px solid #ffc75a;
              border-radius: 4px; padding: 8px 16px; font-size: 14px; 
              font-weight: bold; cursor: pointer; margin-top: 10px;" 
              onmouseover="this.style.backgroundColor='#FFD966'; 
              this.style.cursor='pointer';" onmouseout="this.style.backgroundColor='#ffc75a'; 
              this.style.color='#fff'; this.style.cursor='pointer';">Cambiar Email</button>
            </div>
            <div class="col-sm-8 col-lg-8 text-center">
              <input type="email" name="email" id="id_email" value="{{ email }}" required="" autocomplete="email" class="form-control" placeholder="example@mail.any"></input>
            </div>
            <div class="col-md-2">
              {% if errors is not None %}
                <p></p>
                <ul class="errorlist">
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
                <p></p>
              {% endif %}
            
            </div>
          </div>

          
            
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
