{% extends "base_generic.html" %}

{% block content %}
<body>

  <div class="container-fluid data-box text-center">
    <div class="row">
      <div class="">
        <div class="">
          {% if request.user.id == user.id %}
          <h1 class="">Has iniciado sesión</h1>

          <p class="">¡Enhorabuena! Ahora; Si lo deseas, puedes ir al <a href="{% url 'index'%}">Inicio</a> o ver tu <a href="{% url 'user_profile'%}">Perfil de usuario</a></p>
          {% else %}
          <div class="form-group">
            <h1 class="">Error</h1>
            <p class="">Si lo deseas puedes ir al <a href="{% url 'index'%}">Inicio</a> para repetir</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}
