{% extends "base_generic.html" %}
{% block content %}
<body>

  <div class="container-fluid">

    {% if validlink %}
      
      <div class="row">
        <div class="col-xs-12 col-md-3 panel">
          <h1 class="col-xs-offset-3">Crea una contraseña nueva</h1>
          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <div class="col-xs-10 col-sm-5 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-1">
                <label for="new_password">Contraseña</label>
              </div>
              <div class="col-sm-5 col-md-6 col-md-offset-1 col-lg-offset-0">
                <input type="password" name="new_password" autocomplete="new-password" required="" id="new_password" class="form-control" value="{{ new_password }}">
              </div>  
            </div>

            {% if password_errors is not None %}
              <p></p>
              <ul class="errorlist">
              {% for error in password_errors %}
              <li>{{ error }}</li>
              {% endfor %}
              </ul>
              <p></p>
            {% endif %}

            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit" class="btn btn-default navbar-btn col-xs-offset-2 col-sm-offset-4 col-md-offset-5">Restablecer contraseña</button>
          </form>
        </div>
      </div>

    {% else %}

      <h1 class="col-xs-offset-1 col-sm-offset-2 col-md-offset-4 col-lg-offset-5">Error al resetear la contraseña</h1>
      <p class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">El enlace para resetear la contraseña no es válido. Posiblemente porque ha caducado o ya ha sido usado. Puedes solicitar una nuevo <a href="{% url 'password_reset' %}">aquí</a></p>

    {% endif %}

       
  </div>

</body>

{% endblock %}
