{% extends "base_generic.html" %}
{% block content %}
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-2 panel">
        
        <h1 class="col-xs-offset-1 col-sm-offset-2 col-lg-offset-4">Restablece tu contraseña</h1>

        {% if form.email.errors %}
          <div class="danger">{{ form.email.errors }}</div>
        {% endif %}

        <form method="post" action="/accounts/password_reset/request/">
          {% csrf_token %}

          <div class="form-group col-xs-12 col-sm-10">
            <div class="col-xs-10 col-sm-3 col-md-2 col-xs-offset-0 col-sm-offset-3">
                <label>Email</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-7">
              <input type="email" name="email" id="id_email" required="" autocomplete="email" class="form-control"></input>
            </div> 
          </div>
          <button type="submit" class="btn btn-primary navbar-btn col-xs-offset-2 col-sm-offset-4 col-md-offset-5">Restablecer contraseña</button>
        </form>
      </div>
    </div>
  </div>

</body>

{% endblock %}
