{% extends "base_generic.html" %}

{% block content %}
<body>
  <div class="container-fluid data-box">
    <div class="row">
      <div class="col-12 text-center">
        
        {% if request.user.id == user.id %}
          <h1 class="text-center" style="font-weight: bold; margin-bottom: 20px;">Borrar cuenta</h1>

          <p class="text-center" style="font-weight: bold; margin-bottom: 20px;">¿Estas seguro de que quieres borrar tu registro, {{ user.username }}?</p>

          <form action="" method="POST">
            <div class="form-group">
              {% csrf_token %}
            </div>
            <button type="submit" style="background-color: #ff3b3b; color: #fff; border: 1px solid #a7a7a7;
            border-radius: 4px; padding: 8px 16px; font-size: 14px; 
            font-weight: bold; cursor: pointer; margin-top: 10px;" 
            onmouseover="this.style.backgroundColor='#ad1616'; 
            this.style.cursor='pointer';" onmouseout="this.style.backgroundColor='#ff3b3b'; 
            this.style.color='#fff'; this.style.cursor='pointer';">Eliminar</button>
          </form>
        {% else %}
          <div class="form-group">
            <h1 class="col-xs-offset-4 col-sm-offset-5">Error</h1>
            <p class="col-sm-offset-2 col-md-offset-1 col-lg-offset-3">No tiene autorizacion para modificar el contenido</p>
          </div>

      </div>
    </div>
  </div>

</body>
{% endif %}
{% endblock %}
