<!DOCTYPE html>
<html lang="es">
  <head>

    {% block title %}   <title>El Corredor</title> {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
  
  </head>
    {% block body %}
    {% endblock %}
  <body>
    {% load template_helpers %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">El Corredor</a>
        </div>

        <!-- Version Extendida -->
        <ul class="nav nav-tabs">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="row">
              {% if user.is_authenticated %}
                <span class="col-xs-12 col-sm-1"><li class="{{ request|active_class_for:'user_profile' }}"><a class="navbar-brand" href="{% url 'user_profile' %}">Perfil</a></li></span>
                  {% if user.is_superuser %}
                    <span class="col-xs-12 col-sm-1"><li class="{{ request|active_class_for:'unverified_properties' }}"><a class="navbar-brand" href="{% url 'unverified_properties' %}">Verificar</a></li></span>
                  {% endif %}
                <li class="col-xs-12 col-sm-1"><a class="navbar-brand" href="{% url 'logout' %}">Salir</a></li>
              {% else %}
                <span class="col-xs-12 col-sm-1 padding-left"><li role="presentation" class="{{ request|active_class_for:'login' }}"><a class="navbar-brand" href="{% url 'login' %}">Login</a></li></span>
                <span class="col-xs-12 col-sm-1 padding-left"><li role="presentation" class="{{ request|active_class_for:'user_create' }}"><a class="navbar-brand" href="{% url 'user_create' %}">Registro</a></li></span>
              {% endif %}
              <span class="col-xs-10 col-sm-3" style="padding: 1% 1% 0 3%;">
                <input type="text" class="form-control" placeholder="Search">
              </span>
              <span class="col-xs-1 padding-top">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 ">
        {% block content %}
        {% endblock %}
        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock %} 
        </div>
      </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>

  </body>
</html>
