<!DOCTYPE html>
<html lang="es">
  <head>

    {% block title %}   <title>El Corredor</title> {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <script src="https://cdn.jsdelivr.net/npm/pselect.js@4.0.1/dist/pselect.min.js" ></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
  
  </head>
    {% block body %}
    {% endblock %}
  <body>
    {% load template_helpers %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </div>
    
        <!-- Version Extendida -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">Cuenta <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                  <li class="{{ request|active_class_for:'user_profile' }}"><a href="{% url 'user_profile' %}" style="font-weight: bold;">Perfil</a></li>
                  <li><a href="{% url 'logout' %}" style="font-weight: bold;">Salir</a></li>
                {% else %}
                  <li class="{{ request|active_class_for:'login' }}"><a href="{% url 'login' %}" style="font-weight: bold;">Login</a></li>
                  <li class="{{ request|active_class_for:'user_create' }}"><a href="{% url 'user_create' %}" style="font-weight: bold;">Registro</a></li>
                {% endif %}
              </ul>
            </li>
            {% if user.is_authenticated %}
              {% if user.is_superuser %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">Propiedades <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="{{ request|active_class_for:'unverified_properties' }}"><a href="{% url 'unverified_properties' %}" style="font-weight: bold;">Verificar</a></li>
                    <li class="{{ request|active_class_for:'property_create' }}"><a href="{% url 'property_create' %}" style="font-weight: bold;">Crear</a></li>
                    <li class="{{ request|active_class_for:'search_properties' }}"><a href="{% url 'search_properties' %}" style="font-weight: bold;">Disponible</a></li>
                  </ul>
                </li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">Propiedades <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="{{ request|active_class_for:'property_create' }}"><a href="{% url 'property_create' %}" style="font-weight: bold;">Crear</a></li>
                    <li class="{{ request|active_class_for:'search_properties' }}"><a href="{% url 'search_properties' %}" style="font-weight: bold;">Disponibles</a></li>
                  </ul>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 ">
        {% block content %}
        {% endblock %}
        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock %} 
        </div>
      </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>

  </body>
</html>
