{% extends "base_generic.html" %}

{% block content %}
<h1>Catastro</h1>

<h2>Datos catastrales</h2>
<p>Direccion: {{ address }}</p>
<p>Referencia Catastral: <span id="reference">{{ catastral_reference }}</span></p>
<p>
  <span id="copyReference">
    <a id="copyReferenceLink">Copiar Referencia Catastral en el portapapeles</a>
  <span>
</p>
{% if user.is_authenticated %}
  {% if property %}
    {% if property.user.id == user.id %}
      <p><span class="bg-success">Tú tienes esta propiedad a la venta</span></p>
    {% else %}
      <p><span class="bg-success">Esta propiedad está a la venta por <span class="bold">{{ property.price }}€</span></span></p>
      <p>Si quieres contactar con el vendedor hazlo <a href="{% url 'property_contact' property.catastral_reference %}">aquí</a></p>
    {% endif %}
  {% else %}
    <p><span class="bg-danger">Esta propiedad no está a la venta</span></p>
    <i><b>Nótese que en esta web sólo tenemos información sobre propieades que sean un terreno rústico o un solar sin edificar.</b></i>
  {% endif %}
{% else %}
  <p>Para saber si esta propiedad está a la venta necesitas estar <a href="{% url 'user_create' %}">registrado</a> y <a href="{% url 'login' %}">logueado</a></p>
{% endif %}
<h3>Más datos</h3>
<p>Si deseas obtener más datos sobre la propiedad introduce la referencia catastral en <a href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCBusqueda.aspx" target="_blank">la web oficial del catastro</a></p>

{% endblock %}
