{% extends "base_generic.html" %}

{% block content %}

<body>
  <div class="header-box text-center ">
    <span>
      <h1 class="header-text ">CATASTRO</h1>
    </span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class=" mb-2">
          <h3>DATOS CATASTRALES</h3>
        </div>
        
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="data-box">
                <h4>Referencia Catastral:</h4>
                <span id="reference">{{ catastral_reference }}</span>
                <span id="copyReference">
                  <a id="copyReferenceLink">Copiar</a>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="data-box">
                <h4>Dirección:</h4>
                {% if address != None %}
                  <p>{{ address }}</p>
                {% else %}
                  <p>No tenemos acceso a este dato</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="data-box">
                <h4>Clase:</h4>
                <p>{{ cla }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="data-box">
                <h4>Tipo:</h4>
                <p>{{ us }}</p>
              </div>
            </div>
          </div>
          {% if floor != "" and typ != "" %}
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>Espacio</th>
                      <th>Empleo</th>
                      <th>Superficie</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for m in mez %}
                    <tr>
                      <td>{{ m.0 }}</td>
                      <td>{{ m.1 }}</td>
                      <td>{{ m.2 }} m²</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% elif typ == "" and floor != "" %}
          <div class="row">
            <div class="col">
              <div class="data-box">
                <h4>Superficie:</h4>
                <p>{{ floor }} m²</p>
              </div>
            </div>
          </div>
          {% elif typ == "" and floor == "" %}
          <div class="row">
            <div class="col">
              <div class="data-box">
                <h4>No hay información al respecto</h4>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col pb-3 pt-3">
              {% if user.is_authenticated %}
                {% if property %}
                  {% if property.user.id == user.id %}
                    <p class="col-xs-offset-1 col-sm-offset-4 text-success"><span class="bg-success">Tú tienes esta propiedad
                        a la venta</span></p>
                  {% else %}
                    <p class="col-xs-offset-1 col-sm-offset-4 text-success"><span class="bg-success">Esta propiedad está a la venta por <span class="bold">{{ property.price }}€</span></span></p>
                    <p>Si quieres contactar con el vendedor hazlo 
                      <a href="{% url 'property_contact' property.catastral_reference %}">aquí</a>
                    </p>
                  {% endif %}
                {% else %}
                  <p class="col-xs-offset-1 col-sm-offset-4 text-danger"><span class="bg-danger">Esta propiedad no está a la venta</span></p>
                  {% if address != "" or address != None %} 
                    <form action="{% url 'property_create' %}" method="GET">
                      <input type="hidden" id="provincie" name="provincie" value="{{ provincie }}">
                      <input type="hidden" id="municipality" name="municipality" value="{{ municipality }}">
                      <input type="hidden" id="latitude" name="latitude" value="{{ latitude }}">
                      <input type="hidden" id="longitude" name="longitude" value="{{ longitude }}">
                      <input type="hidden" id="catastral_reference" name="catastral_reference" value="{{ catastral_reference }}">
                      <input type="hidden" id="address" name="address" value="{{ address }}">
                      <div class="row">
                        <div class="col-12 text-center">
                          <div class="col-sm-4 col-md-3 ">
                            <button type="submit" style="background-color: #ffc75a; color: #fff; border: 1px solid #ffc75a;
                            border-radius: 4px; padding: 8px 16px; font-size: 14px; 
                            font-weight: bold; cursor: pointer; margin-top: 10px;" 
                            onmouseover="this.style.backgroundColor='#FFD966'; 
                            this.style.cursor='pointer';" onmouseout="this.style.backgroundColor='#ffc75a'; 
                            this.style.color='#fff'; this.style.cursor='pointer';">Ingresar propiedad</button>
                          </div>
                          <div class="col-sm-8 col-md-9"></div>
                        </div>
                      </div>
                    </form>
                  {% else %}
                    <p class="col-xs-offset-1 col-sm-offset-2">Aun si quieres registrar esta propiedad, por desgracia no es posible.</p>
                  {% endif %} 
                  <i><b>Nótese que en esta web sólo tenemos información sobre propiedades que sean un terreno rústico o un solar sin edificar.</b></i>
                {% endif %}
              {% else %}
                <p>Para saber si esta propiedad está a la venta necesitas estar <a
                  href="{% url 'user_create' %}">registrado</a> y <a href="{% url 'login' %}">logueado</a></p>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="data-box" style="margin-top: 10px !important;">
                <h4>Más datos:</h4>
                <p>Si deseas obtener más datos sobre la propiedad puedes introducir la referencia catastral en <a
                    href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCBusqueda.aspx">la web oficial del
                    catastro</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-center mb-2">
          <h3>SI DESEAS SEGUIR BUSCANDO</h3>
        </div>
        <div id="map" class="map col-xs-offset-0 "></div>
      </div>
    </div>
  </div>





</body>
{% endblock %}