{% extends "base_generic.html" %}

{% block content %}
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel">

          <h1 class="col-xs-offset-4 col-sm-offset-5">Catastro</h1>

          <h2 class="col-xs-offset-1 col-sm-offset-4">Datos catastrales</h2>
          <ul>
            <li>Referencia Catastral: <span id="reference">{{ catastral_reference }}</span>
              <span id="copyReference">
                <a id="copyReferenceLink">Copiar</a>
              </span>
            </li>
            <li>Direccion: {{ address }}</li>
            <li>Clase: {{ cla }}</li>
            <li>Tipo: {{ us }}</li>
            {% if  floor  != "" and  typ  != "" %}
              <table class="table">
                <thead>
                  <tr>
                    <th>Espacio</th>
                    <th>Empleo</th>
                    <th>Superficie</th>
                  </tr>
                </thead>
                <tbody>
                  {% for m in mez  %}
                    <tr>
                      <td> {{ m.0 }}  </td>
                      <td> {{ m.1 }} </td>
                      <td> {{ m.2 }} m² </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% elif  typ  == "" and  floor  != "" %}
              <li>Superficie: {{ floor }} m²</li>
            {% elif  typ  == "" and  floor  == "" %}
              <li>No hay informacion al respecto</li>
            {% endif %}  
          </ul>
          {% if user.is_authenticated %}
            {% if property %}
              {% if property.user.id == user.id %}
                <p class="col-xs-offset-1 col-sm-offset-4 text-success"><span class="bg-success">Tú tienes esta propiedad a la venta</span></p>
              {% else %}
                <p class="col-xs-offset-1 col-sm-offset-4 text-success"><span class="bg-success">Esta propiedad está a la venta por <span class="bold">{{ property.price }}€</span></span></p>
                <p>Si quieres contactar con el vendedor hazlo <a href="{% url 'property_contact' property.catastral_reference %}">aquí</a></p>
              {% endif %}
            {% else %}
              <p class="col-xs-offset-1 col-sm-offset-4 text-danger"><span class="bg-danger">Esta propiedad no está a la venta</span></p>
              <i><b>Nótese que en esta web sólo tenemos información sobre propieades que sean un terreno rústico o un solar sin edificar.</b></i>
            {% endif %}
          {% else %}
            <p>Para saber si esta propiedad está a la venta necesitas estar <a href="{% url 'user_create' %}">registrado</a> y <a href="{% url 'login' %}">logueado</a></p>
          {% endif %}
          <h3>Más datos</h3>
          <p>Si deseas obtener más datos sobre la propiedad puedes introducir la referencia catastral en <a href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCBusqueda.aspx">la web oficial del catastro</a></p>
          <h3>Si deseas seguir buscando</h3>
          <div id="map" class="map col-xs-offset-0"></div>
        </div>
      </div>
    </div>
  </div>
  
</body>
{% endblock %}
